/* main -- in all */
html {
  scroll-behavior: smooth;
}
body {
  background-color: #f8f8ff;
}
#mainjumbotron {
  color: #f5f5f5;
  background-color: rgb(7, 12, 26);
  border-radius: 0.4em;
}
.footer {
  display: block;
  clear: all;
  float: bottom;
  text-align: center;
}
.breadcrumb {
  margin-bottom: 0;
  float: right;
  background-color: #f8f8ff;
}
/* for a pushed footer- for smaller webpages */
/* .footer-pushed {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
} */

/* to show what page the user is at when screen is small */
#at-smaller-screen {
  visibility: hidden;
}
@media (max-width: 992px) {
  #at-smaller-screen {
    visibility: visible;
  }
}
/* to show what page the user is at when screen is small */

/* main -- in all */

/* for all projects  */
@media (min-width: 1000px) {
  .text-content {
    width: 60%;
  }
  .text-content-center {
    /* for text with bold texts for formulae */
    width: 60%;
    text-align: center;
  }
  .rside-image {
    display: inline;
    width: 35%;
    float: right;
    text-align: center;
  }
  .center-image {
    width: 45%;
    text-align: center;
    margin-left: 7%;
  }
}
@media (max-width: 880px) {
  .text-content-center {
    text-align: center;
  }
  .center-image {
    text-align: center;
  }
  .rside-image {
    text-align: center;
  }
}
/* for all projects  */
