/* main -- in all */
html {
  scroll-behavior: smooth;
}
body {
  background-color: #f8f8ff;
}
#mainjumbotron {
  color: #f5f5f5;
  background-color: rgb(7, 12, 26);
  border-radius: 0.4em;
}
.footer {
  display: block;
  clear: all;
  float: bottom;
  text-align: center;
}
/* main -- in all */

/* stegano.html */
@media (min-width: 1000px) {
  .text-content {
    /* steg page for text */
    width: 60%;
  }
  .text-content-center {
    /* steg page for text for bold texts for values */
    width: 60%;
    text-align: center;
  }
  .rside-image {
    /* for steg page for right side images */
    display: inline;
    width: 35%;
    float: right;
    text-align: center;
  }
  .center-image {
    /* steg page for center image */
    width: 45%;
    clear: both;
    text-align: center;
    margin-left: 7%;
  }
}
@media (max-width: 880px) {
  .text-content-center {
    /* steg page for text for bold texts for values */
    text-align: center;
  }
  .center-image {
    /* steg page for center image */
    clear: both;
    text-align: center;
  }
  .rside-image {
    /* for steg page for right side images */
    text-align: center;
  }
}
/* stegano.html */
